@{
    ViewData["Title"] = "Welcome to Home Page";
}

<div class="text-center welcome-box">
    <h1 class="display-4">Welcome</h1>
    
    <p>View the list of departments and add, edit, delete or view each department</p>
    
    <a href="@Url.Action("Index", "Dept1")" class="custom-blue-btn">Go to Department Page</a>

    <img src="~/Images/this-minimalist-icon-beautifully-illustrates-a-hand-gently-supporting-three-figures-symbolizing-community-care-support-collaboration-and-teamwork-that-brings-people-together-for-a-common-purpose-vector.jpg" alt="Welcome Image" style="max-width: 150px; height: auto; margin-bottom: 20px;"/>
</div>
